@charset "UTF-8";
/* CSS Document */

/* === NAVIGATION BAR === */

a#ZC {
	margin-left: 1rem;
}

ul#navbar li {
	margin: 0 0.25rem;
}

ul#navbar li a {
	font-size: 1rem;
}

/*** END OF NAVIGATION BAR ***/

/*** === LANDING PAGE ***/

div#cover-text {
	background-color: rgba(0, 0, 0, 0.5);
/*	letter-spacing: 0.040rem;*/
	
	/* positions the elements inside the box */
	display: flex;
	justify-content: center;
	
	
	/* positions the box itself */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/* makes the box end-to-end */
	padding: 40px 0;
	width: 100%;
}

/*** END OF LANDING PAGE ***/

/*** === ABOUT SECTION === ***/

p#about-text {
	font-size: 1.5rem;
}

img#team { 
	padding: 2.5rem 0 0 0;
}
/*** === END OF ABOUT SECTION === ***/

/*** === SERVICES SECTION === ***/

div#icon-row {
	display: flex;
	align-items: center;
}

.icon-container {
	text-align: center;
}

.modal-link {
	color: #455a64;
	
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.modal-link:hover {
	color: white;
	cursor: pointer;
}

.icon {
	color: #455a64;
}

.icon-text {
	color: black;
}

.modal-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-icon {
	margin: 2rem 3rem;
}

div#proj-examples {
	padding: 3rem 0 0 0;
}

/*** END OF SERVICES SECTION ***/

/*** === CLIENTS SECTION === ***/

ul#logo-list li {
	display: inline;
	padding: 1em 2em;
}


/*** END OF CLIENTS SECTION ***/

/*** === BUILT IN CLASSES === ***/

.body, .html {
	font-family: "Raleway", sans-serif;
	font-size: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: 0.035rem;
}

a {
	color: #42033D;
}

img {
	max-width: 100%;
}

/*** END OF BUILT IN CLASSES ***/

/*** CLASSES ***/

.raleway {
	font-family: 'Raleway', sans-serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.h-text {
	color: #263238;
	margin-bottom: 1rem;
}

.p-text {
	color: #455a64;
}

.page {
	padding: 2rem 0 3rem 0;
}

.page-dark {
	background-color: #E0E0E0;
}

.pad {
	padding: 2rem 0 0 0;
}

.align-center {
	text-align: center;
}

/*** === MEDIA QUERIES === ***/

@media (min-width: 320px) {
	
	h1 { font-size: 2.5rem; }
	
	h3 { font-size: 2rem; }
	
}

@media (min-width: 768px) {
	
	h1 { font-size: 4rem; }
	
	h3 { font-size: 2.5rem; }
}