@charset "UTF-8";
/* CSS Document */

/* === NAVIGATION BAR === */

#navigation-bar {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
	border: none;
	font-family: "Raleway", sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.025em;
	margin: 1% 2% 0;
}

#main-navigation li a {
	color: white;
}

#ZC {
	color: white;
	font-size: 1.75em;
	font-weight: 500;
}

/*** END OF NAVIGATION BAR ***/

/*** === LANDING PAGE ***/

#top {
	position: relative;
}

#header {
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
/*	width: 100%;*/
	padding: 3% 5%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#header h1 {
	font-size: 7em;
}

#header h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
}

/*** === BUILT IN CLASSES === ***/

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

h1, h2, h3, h4 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	letter-spacing: 0.035em;
}

/*** END OF BUILT IN CLASSES ***/

/*** CLASSES ***/

.text-white {
	color: white;
}